<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <style type="text/css">
        #Text1 {
            width: 70px;
        }
        #Text2 {
            width: 70px;
        }
        #TextArea1 {
            height: 97px;
            width: 345px;
        }
    </style>
</head>
<body>
    
    <p style="text-align: center">
        Welcome to page tasks</p>
    <p style="text-align: left">
        Input values &#39;x&#39; and &#39;y&#39;</p>
    <form action="" method="post">
        <input id="Text1" type="text" />
        <input id="Text2" type="text" />
        <input id="Add_task" type="submit" value="Add task" />
        <p>List all task id</p>
        <p><textarea id="TextArea1" name="S1"></textarea></p>
     </form>    
</body>
</html>