<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <style type="text/css">
        #Text1 {
            width: 70px;
        }
        #Text2 {
            width: 70px;
        }
        #TextArea1 {
            height: 97px;
            width: 345px;
        }
        #id_task {
            width: 227px;
        }
    </style>
</head>
<body>
    
    <p style="text-align: center">
        Welcome to page tasks</p>
    <p style="text-align: left">
        Input values &#39;x&#39; and &#39;y&#39;</p>
    <form method="post" name="newTask">
        <input id="Text1" name="Text1" type="text" />
        <input id="Text2" name="Text2" type="text" />
        <input id="Add_task" type="submit" value="Add task" />
        <p>task id {{id_task}}</p>
    </form> 
    <form action="/result">
        <p><input id="result_id" name="result_id" type="text"> 
       
            <input id="Submit1" type="submit" value="View result" />
        </p>
    </form>
        
</body>
</html>